* {
  margin: 0;
  padding: 0;
}

body {
  margin: 40px;
  font-family: "Lexend Deca", sans-serif;
  background-color: #23252c;
  color: white;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: white;
}

.app-container {
  width: 300px;
  border-radius: 15px;
  margin: 0 auto;
  height: 600px;
  background-color: #1a1b21;
}

.info-container {
  text-align: center;
}

.info-container > img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.info-container > h2 {
  /* Erica Dayton */
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 1rem;
}

.info-container > p {
  /* fullstack dev */
  font-size: 0.9rem;
  font-weight: 200;
  color: #71d9f6;
  margin: 0.2rem 0;
}

.info-container .blocked {
  /* a tag */
  display: block;
  padding-bottom: 1rem;
  font-size: 0.7rem;
  font-weight: 200;
  margin: 0.7rem 0;
}

.info-container .btn {
  /* email & linkedin */
  background-color: red;
  padding: 8px;
  border-radius: 6px;
  margin: 2rem 0.5rem;
  font-size: 1rem;
}
